body{
	background: #efefef;
}


#odds{
	margin-top: 1rem;
}

#math {
  text-align: center;
  font-size: 15px;
}

h1{
	text-align: center;
}

#away-input{
	margin-top: 0.7rem;
}

#home-output{
   font-size: 20px;
}


#draw-output{
    font-size: 20px;
}

#away-output{
    font-size: 20px;
}

#input-lot{
	margin-top: 1rem;
}

#thebutton{
	margin-top: 1rem;
}

