<!doctype html>
{% block home %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title></title>
  </head>
  <body>
    <h1>Test</h1>
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="button-addon2" id="name">
      <button class="btn btn-outline-secondary" type="button" id="button-addon2" onclick="submit_entry();">Button</button>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
  </body>
</html>
{% endblock %}

{% block script %}

<script type="text/javascript">
  
  function submit_entry(){

    var name = document.getElementById("name")

    var entry = {
      name: name.value
    };
    fetch('/create-entry',{
      method: "POST",
      credentials: 'include',
      body: JSON.stringify(entry),
      cache: "no-cache",
      headers: new Headers({
        "content-type": "application/json"
      })
    })

    .then(function (response){
      response.json().then(function(data){

        console.log(data)

      })
    })
  };

</script>

{% endblock %}